* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at top, #1a0033, #050014);
  color: #fff;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  background: rgba(20, 0, 50, 0.85);
  backdrop-filter: blur(8px);
  text-align: center;
  z-index: 100;
}

nav a {
  color: #ff9cff;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
}

nav a:hover {
  color: #00eaff;
  text-shadow: 0 0 8px #00eaff;
}

/* HEADER */
header {
  height: 100vh;
  padding-top: 140px;
  text-align: center;
  background: linear-gradient(135deg, #7f00ff, #00eaff);
}


header h1 {
  font-size: 60px;
  color: #ff9cff;
  text-shadow:
    0 0 10px #ff00ff,
    0 0 25px #9d00ff;
}

header p {
  color: #00eaff;
  letter-spacing: 3px;
}

/* SECTION */
section {
  padding: 90px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #ff9cff;
  margin-bottom: 40px;
  text-shadow: 0 0 10px #ff00ff;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skills span {
  padding: 15px 30px;
  border-radius: 40px;
  background: linear-gradient(135deg, #7f00ff, #00eaff);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(0,255,255,0.6);
}

.skills span:hover {
  transform: scale(1.2) rotate(-2deg);
  box-shadow: 0 0 30px #ff00ff;
}

/* FOOTER */
footer {
  background: rgba(20, 0, 50, 0.9);
  text-align: center;
  padding: 15px;
  color: #aaa;
}

/* FADE ANIMATION */
.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  header h1 {
    font-size: 36px;
  }

  nav a {
    margin: 0 8px;
    font-size: 12px;
  }
}

