* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: #ffffff; /* PAKSA TERANG */
  color: white;
}


/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  background: rgba(20,0,50,0.85);
  backdrop-filter: blur(8px);
  text-align: center;
  z-index: 100;
}

nav a {
  color: #ff9cff;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

/* BGM BUTTON */
#bgm-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #7f00ff;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 15px #00eaff;
}

/* HEADER + ANIME BG */
header {
  opacity: 1;
}
.fade {
  opacity: 0;
  transform: translateY(40px);
}
.fade.show {
  opacity: 1;
  transform: translateY(0);
}

.anime-bg {
  background-image: url("waifu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* GLITCH TEXT */
.glitch {
  font-size: 60px;
  position: relative;
  color: #ff9cff;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch::before {
  color: #00eaff;
  animation: glitch 2s infinite;
}

.glitch::after {
  color: #ff00ff;
  animation: glitch 1.5s infinite reverse;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-1px, 1px); }
  80% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}

.subtitle {
  color: #00eaff;
  letter-spacing: 3px;
}

/* SECTION */
section {
  padding: 90px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #ff9cff;
  margin-bottom: 40px;
}

/* SKILLS */
.skills, .projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skills span,
.project-card {
  padding: 15px 25px;
  border-radius: 20px;
  background: linear-gradient(135deg, #7f00ff, #00eaff);
  color: black;
  box-shadow: 0 0 15px rgba(0,255,255,0.6);
  transition: 0.3s;
}

.skills span:hover,
.project-card:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: rgba(20,0,50,0.9);
}

/* FADE */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}





